# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environments
.Python
.env
env/
venv/
ENV/
medical-doctor-assistant-env/
env.bak/
venv.bak/

# macOS system files
.DS_Store

# Database files
Vector_db/
